$lightBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);
$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);

$fsBase: 15px;

$fmBase: "Outfit", sans-serif;

$fwBase: 400;
$fwBold: 700;

$contentPadding: 1.5rem;
$contentSpacing: 1rem;
